@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

/* main section start */

.main {
  max-width: 1280px;
  margin: 0 auto;
  background-image: url("../resources/Background_image@2x.png");
  background-color: #121826;
  padding: 70px 0;
}

.header-section {
  text-align: center;
  margin-bottom: 50px;
}

.heading {
  color: #e5e7eb;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  color: #9da3ae;
  font-size: 1rem;
  font-weight: 400;
}

/* card section start */


.card-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: 0 40px;
}

.card-1 {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: #212936;
    border-radius: 15px;
    flex: 1;
}

.card-2 {
    grid-column: 5 / span 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: #212936;
    border-radius: 15px;
    flex: 1;
}

.card-3 {
    grid-column: 9 / span 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: #212936;
    border-radius: 15px;
    flex: 1;
}

.card-1 img, .card-2 img, .card-3 img{
    border-radius: 10px;
    width: 100%;
}

.icon {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hand {
  color: rgb(249, 180, 4);
  font-size: 1.25rem;
  background-color: #fceed8;
}

.goal{
    background-color: #DEE9FC;
    font-size: 1.5rem;
}

.comment{
    color: rgb(87, 81, 73);
    background-color: #FBE5E6;
    font-size: 1.25rem;
}

.card-heading {
  color: #e5e7eb;
  font-size: 1.25rem;
  font-weight: 600;
}
.card-description {
  color: #d2d5da;
  font-size: 1rem;
  font-weight: 400;
}



/* media query start here */

@media screen and (max-width:575px) {
    .card-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-1{
        grid-column: 1 /span 1;
    }
    .card-2{
        grid-column: 1 /span 1;
    }
    .card-3{
        grid-column: 1 /span 1;
    }
}

@media screen and (min-width:576px) and (max-width:991px) {
    .card-1{
        grid-column: 1 /span 6;
    }
    .card-2{
        grid-column: 7 /span 6;
    }
    .card-3{
        grid-column: 4 /span 6;
    }
    
}